body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: aquamarine;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: rgb(201, 117, 117);
}
.clock{
    display: flex;
    position: relative;
}
.clock div{
    margin: 5px;

}
.clock span{
    width: 100px;
    height: 80px;
    background-color: rgba(23, 125, 165, 0.562);
    color: #ebe3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 3px black;
    
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkcyan;
}
.clock #am-pm{
    bottom: 5px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: goldenrod;
}