

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: sandybrown;
  
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

